[Unit]
Description=OpenVPN to Seluxit Servers
After=syslog.target network-online.target eoltest-check.service
Wants=network-online.target eoltest-check.service
Requires=openvpn-install-certs.service
ConditionPathExists=/etc/eol_test_passed
StopWhenUnneeded=yes

[Service]
PrivateTmp=true
Type=forking
EnvironmentFile=/etc/seluxit_env
PIDFile=/var/run/openvpn/seluxit.pid
ExecStartPre=/bin/mkdir -p /var/run/openvpn
ExecStart=/usr/sbin/openvpn --daemon --writepid /var/run/openvpn/seluxit.pid --cd /etc/openvpn/ --config ${SELUXIT_ENV}.conf
