[Unit]
Description=Extract OpenVPN client certificate and key from U-Boot
After=syslog.target eoltest-check.service
Wants=eoltest-check.service
ConditionPathExists=/etc/eol_test_passed

[Service]
PrivateTmp=true
Type=oneshot
RemainAfterExit=yes
ExecStartPre=/bin/mkdir -p /etc/openvpn
ExecStart=/usr/bin/openvpn-install-certs
