[Unit]
Description=OpenVPN to Seluxit Servers (%I environment)
After=syslog.target network-online.target fctcheck.service
ConditionPathExists=/etc/fct_finalized
StopWhenUnneeded=yes

[Service]
PrivateTmp=true
Type=forking
PIDFile=/var/run/openvpn/%i.pid
ExecStartPre=/bin/mkdir -p /var/run/openvpn
ExecStartPre=/bin/mkdir -p /etc/openvpn
ExecStartPre=/usr/bin/openvpn-install-certs
ExecStart=/usr/sbin/openvpn --daemon --writepid /var/run/openvpn/%i.pid --cd /etc/openvpn/ --config %i.conf
