# Default to article no 19005
MACHINE ??= "gardena-sg-mt7688"

# Default to our company name
DISTRO ?= "gardena"

# Place caches outside of the build directory so that they survive a build
# directory wipe.
DL_DIR ?= "${HOME}/.cache/yocto/downloads"
SSTATE_DIR ?= "${HOME}/.cache/yocto/sstate-cache"

# Use OPKG packages
PACKAGE_CLASSES ?= "package_ipk"

# Enable collection of build statistics, reduce shared library files size
USER_CLASSES ?= "buildstats image-mklibs"

# Reduce image size by not installing recommended packages
NO_RECOMMENDATIONS = "1"

# By default disable interactive patch resolution, cause task to fail instead
PATCHRESOLVE = "noop"

# Disk Space Monitoring during the build
BB_DISKMON_DIRS ??= "\
    STOPTASKS,${TMPDIR},1G,100K \
    STOPTASKS,${DL_DIR},1G,100K \
    STOPTASKS,${SSTATE_DIR},1G,100K \
    STOPTASKS,/tmp,100M,100K \
    ABORT,${TMPDIR},100M,1K \
    ABORT,${DL_DIR},100M,1K \
    ABORT,${SSTATE_DIR},100M,1K \
    ABORT,/tmp,10M,1K"

# CONF_VERSION is increased each time build/conf/ changes incompatibly and is used to
# track the version of this file when it was generated. This can safely be ignored if
# this doesn't mean anything to you.
CONF_VERSION = "1"

# Query the National Vulnerability Database (NVD) for known security issues.
#INHERIT += "cve-check"

# Store information about builds, allow to analyze changes
INHERIT += "buildhistory"
BUILDHISTORY_COMMIT = "1"

# Archive source code for all packages getting built
# Disabled by default as not relevant for development builds and will be activated
# by auto.conf on CI infrastructure for release builds.
# Note: The COPYLEFT_LICENSE_EXCLUDE variable takes precedence over the
#       COPYLEFT_LICENSE_INCLUDE variable.
#INHERIT += "archiver"
ARCHIVER_MODE[src] = "original"
COPYLEFT_LICENSE_INCLUDE = "*"
COPYLEFT_LICENSE_EXCLUDE = 'CLOSED Proprietary'

# Copy license files to /usr/share/common-licenses in the image
# This fullfills a requirement of various BSD licenses for binary distribution
COPY_LIC_MANIFEST = "1"
COPY_LIC_DIRS = "1"

# Flags to facilitate remote debugging via GDB
# More information: https://docs.yoctoproject.org/dev-manual/common-tasks.html#using-the-gdbserver-method
#IMAGE_GEN_DEBUGFS = "1"
#IMAGE_FSTYPES_DEBUGFS = "tar.bz2"
#IMAGE_INSTALL_append = " gdbserver"

# Optional: Lower optimization to improve debugability
#DEBUG_BUILD = "1"
