# Architecture
CONFIG_MMU=y
CONFIG_ARCH_AT91=y
CONFIG_ARCH_MULTI_V5=y
# CONFIG_SOC_AT91RM9200 is not set
# CONFIG_SOC_SAM9X60 is not set
CONFIG_SOC_AT91SAM9=y

# MTD
CONFIG_MTD_DATAFLASH=y
CONFIG_MTD_RAW_NAND=y
CONFIG_MTD_NAND_ATMEL=y

# hostname
CONFIG_DEFAULT_HOSTNAME="at91sam9x5"

# USB support
CONFIG_USB_SUPPORT=y
CONFIG_USB=y
CONFIG_USB_EHCI_HCD=y
CONFIG_USB_EHCI_HCD_AT91=y

# Networking drivers
CONFIG_ETHERNET=y
CONFIG_NETDEVICES=y
CONFIG_NET_VENDOR_CADENCE=y
CONFIG_MACB=y
CONFIG_DAVICOM_PHY=y
CONFIG_MICREL_PHY=y

# WLAN drivers
CONFIG_WLAN=y
CONFIG_WLAN_VENDOR_REALTEK=y
CONFIG_RTL_CARDS=m
CONFIG_RTL8192CU=m
CONFIG_RTLWIFI=m
CONFIG_RTLWIFI_USB=m
CONFIG_RTL8192C_COMMON=m
CONFIG_RTL8XXXU=m
CONFIG_RTL8XXXU_UNTESTED=y

# Unsorted
CONFIG_SERIAL_ATMEL=y
CONFIG_SERIAL_ATMEL_CONSOLE=y
CONFIG_SERIAL_ATMEL_PDC=y
CONFIG_AT91SAM9X_WATCHDOG=y
CONFIG_HW_RANDOM=y
CONFIG_HW_RANDOM_ATMEL=y
CONFIG_DMADEVICES=y
CONFIG_AT_HDMAC=y
CONFIG_ATMEL_TCLIB=y
CONFIG_LEDS_GPIO=y
CONFIG_ATMEL_EBI=y
CONFIG_ATMEL_CLOCKSOURCE_TCB=y
CONFIG_AT91_SOC_ID=y
CONFIG_PM=y
CONFIG_POWER_RESET_AT91_POWEROFF=y
CONFIG_POWER_RESET_AT91_RESET=y

# Enable GPIO userspace control
CONFIG_GPIO_SYSFS=y

# WEXT compatibility 8192cu driver
CONFIG_WEXT_CORE=y
CONFIG_WEXT_PROC=y
CONFIG_CFG80211_WEXT=y
