[Unit]
Description=Software Update Service
After=update-sw-versions.service update-hw-revision.service network-online.target swupdate-progress.service environment.service
Wants=update-sw-versions.service update-hw-revision.service network-online.target environment.service
Requires=swupdate-progress.service
# prevent swupdate during manufacturing
ConditionPathExists=/etc/fct_finalized
ConditionPathExists=/etc/eol_test_passed
ConditionPathExists=!/run/eol_test_network

[Service]
ExecStart=/usr/bin/swupdate-check
Type=oneshot
# allow swupdate to fail (e.g. when network unavailable or version
# already installed) without degrading the systemd status
SuccessExitStatus=4
# SG-14860 For unknown, rare reasons, swupdate can get stuck. Killing it to allow a new attempt.
TimeoutStartSec=11h
