[Unit]
Description=PPP link to radio module
Before=network.target
After=fctcheck.service rm-flashing.service
Wants=fctcheck.service rm-flashing.service
ConditionPathExists=/etc/fct_finalized

[Service]
ExecStart=@SBINDIR@/pppd local crtscts @TTY@ 115200 +ipv6 noauth nodetach noip
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target
