[Unit]
Description=Run swupdate-check.service on startup and again every 12 hours
After=network-online.target

[Timer]
# Triggered on boot (this timer unit activated) and interfaces (wlan0, eth0)
# activated (dhcpcd hook)
OnActiveSec=5s
# Fallback once after boot
OnBootSec=300s
# Roughly every 1.5 days. Prime to cover every day time eventually.
OnUnitActiveSec=31h

[Install]
WantedBy=timers.target
