[Unit]
Description=Run swupdate-check.service on startup and periodically thereafter
After=network-online.target
StartLimitIntervalSec=0

[Timer]
# Triggered on boot (this timer unit activated) and interfaces (wlan0, eth0)
# activated (dhcpcd hook)
OnActiveSec=5s
# Fallback once after boot
OnBootSec=300s
# Run more frequently for BNW rollout
OnUnitActiveSec=11h

[Install]
WantedBy=timers.target
