[Unit]
Description=WPA supplicant daemon (interface-specific version)
Requires=sys-subsystem-net-devices-%i.device
After=sys-subsystem-net-devices-%i.device
Before=network.target
Wants=network.target
ConditionPathExists=/etc/wpa_supplicant/wpa_supplicant-%I.conf

Conflicts=hostapd@%i.service
Before=hostapd%i.service

[Service]
Type=simple

# attach dhcpcd in case hostapd detached it
ExecStartPre=dhcpcd --rebind %i

ExecStart=/usr/sbin/wpa_supplicant -c/etc/wpa_supplicant/wpa_supplicant-%I.conf -i%I

# Restart on errors (i.e. because the the driver failed to create the wlan
# interface in time)
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
