[Unit]
Description=WPA supplicant daemon (interface-specific version)
Requires=sys-subsystem-net-devices-%i.device
After=sys-subsystem-net-devices-%i.device
Before=network.target
Wants=network.target
ConditionPathExists=/etc/wpa_supplicant/wpa_supplicant-%I.conf

Before=hostapd@%i.service

[Service]
Type=dbus
BusName=fi.w1.wpa_supplicant1

# wpa_supplicant conflicts with hostapd, implementation according to
# https://unix.stackexchange.com/questions/503719/how-to-set-a-conflict-in-systemd-in-one-direction-only/503896#503896
ExecStartPre=/bin/sh -c 'if systemctl -q is-active hostapd@%i.service; then \
                             echo "hostapd@%i.service already running, will not start wpa_supplicant@%i.service"; \
                             exit 75; \
                         fi'

# attach dhcpcd in case hostapd detached it
ExecStartPre=dhcpcd --rebind %i

ExecStart=/usr/sbin/wpa_supplicant -u -c/etc/wpa_supplicant/wpa_supplicant-%I.conf -i%I

# Restart on errors (i.e. because the the driver failed to create the wlan
# interface in time)
Restart=on-failure
RestartSec=5s

# Limit number of starts to prevent infinite retry, mainly because ExecStartPre check that can let unit fail
# when hostapd is running
StartLimitInterval=30
StartLimitBurst=3

[Install]
WantedBy=multi-user.target
Alias=dbus-fi.w1.wpa_supplicant1@.service
