# NOTE:
#  - we do not require %i because the driver may not be loaded
#  - template actually works only for wlan0

[Unit]
Description=WPA supplicant daemon (interface-specific version)
Before=network.target
Wants=network.target
ConditionPathExists=/etc/wpa_supplicant/wpa_supplicant-%I.conf
ConditionPathIsDirectory=/sys/bus/usb/devices/1-2:1.0

Conflicts=hostapd@%i.service
Before=hostapd%i.service

# SG-18437 Ignore errors in (long running) ExecStartPre= lines to prevent the
# unit from failing when being stopped before reaching ExecStart=.
[Service]
Type=simple

# SG-14607 - only rtl8xxxu is able to scan for APs reliably
ExecStartPre=-rmmod rtl8192cu rtl_usb rtl8192c_common rtlwifi rtl8xxxu
ExecStartPre=-modprobe rtl8xxxu

# Give the driver some time to initialize
ExecStartPre=-sleep 3

# SG-16157 Limiting to 15dBm due to EMC requirements
ExecStartPre=-iw wlan0 set txpower limit 1500

# attach dhcpcd in case hostapd detached it
ExecStartPre=dhcpcd --rebind %i

ExecStart=/usr/sbin/wpa_supplicant -c/etc/wpa_supplicant/wpa_supplicant-%I.conf -i%I

# Restart on errors (i.e. because the the driver failed to create the wlan
# interface in time)
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
