[Unit]
Description=SWUpdate progress service

[Service]
ExecStart=/usr/bin/swupdate-progress -r -w -e /usr/bin/swupdate-handle-result
Restart=always

[Install]
WantedBy=multi-user.target
