[Unit]
Description=Run swupdate-check.service on startup and again every 12 hours
After=network-online.target

[Timer]
OnActiveSec=5s
OnUnitActiveSec=12h

[Install]
WantedBy=timers.target
