[Unit]
Description=Prepare gateway rsyslog configuration
Before=rsyslog.service
ConditionPathExists=|!/etc/rsyslog.d/auth.key
ConditionPathExists=|!/etc/rsyslog.d/auth.crt
ConditionPathExists=|!/etc/rsyslog.d/01-gateway-id.conf
ConditionPathExists=|!/etc/rsyslog.d/90-severity-forward-filter.conf

[Service]
Type=oneshot
ExecStart=@BINDIR@/rsyslog-gw-init
[Install]
WantedBy=multi-user.target