[Unit]
Description=System Logging Service
Requires=syslog.socket
Documentation=man:rsyslogd(8)
Documentation=https://www.rsyslog.com/doc/
After=rsyslog-gw-init.service
Wants=rsyslog-gw-init.service

[Service]
Type=notify
ExecStart=/usr/sbin/rsyslogd -n -iNONE
StandardOutput=null
Restart=on-failure
# lower stop timeout from default 90s to prevent reboot slowdown (SG-14931)
TimeoutStopSec=10

# Increase the default a bit in order to allow many simultaneous
# files to be monitored, we might need a lot of fds.
LimitNOFILE=16384

# Resource limits
CPUQuota=60%
MemoryHigh=20M
MemoryMax=25M

[Install]
WantedBy=multi-user.target
Alias=syslog.service
