[Unit]
Description=Configure rsyslog
Before=rsyslog.service
After=environment.service
Requires=environment.service

[Service]
Type=oneshot
ExecStart=@BINDIR@/rsyslog-gw-init

[Install]
WantedBy=multi-user.target
